@model StudentManagementSystem.Models.Student
@{
    ViewData["Title"] = "Student Details";
}
<h1>Student Details</h1>
<div>
    <dl class="row">
        <dt class="col-sm-2">First Name</dt>
        <dd class="col-sm-10">@Model.FirstName</dd>
        <dt class="col-sm-2">Last Name</dt>
        <dd class="col-sm-10">@Model.LastName</dd>
        <dt class="col-sm-2">Date of Birth</dt>
        <dd class="col-sm-10">@Model.DateOfBirth?.ToString("yyyy-MM-dd")</dd>
        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>
        <dt class="col-sm-2">Phone</dt>
        <dd class="col-sm-10">@Model.PhoneNumber</dd>
    </dl>
    <a class="btn btn-secondary" href="/Students">Back to list</a>
</div>
